 
 
html,body {margin: 0;}

body {
background: #ECEEF1;
color: gray;
font-family: sans-serif;
width: 100%;
}

.formContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*HEADER*/
header {
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 15px;
}

header > button {
background: #0077C5;
border-radius: 4px;
border: 1px solid #4c4c4c;
color: white;
cursor: pointer;
font-size: 13px;
font-weight: normal;
height: 36px;
margin-top: 13px;
margin-left: 10px;
width: 81px;
}

.headerText > p {
font-size: 12px;
text-align: right;
}

/*TITLE FORM*/
.titleText {
align-items: center;
display: flex;
flex-direction: column;
text-align: center;
}

.titleIcons {
display: flex;
flex-direction: row;
margin-bottom: 15px;
}

.titleIcons > div {margin-left: 20px;}

.intuitLogo {margin-bottom: 20px;}

div > a {
color: grey;
font-size: 20px;
font-weight: lighter;
padding-left: 7px;
text-decoration: none;
}

.iconWrap {
align-items: center;
display: flex;
flex-direction: row;
}

a {
color: blue;
text-decoration: none;
}

a:hover {text-decoration: underline;}


/*FORM*/
.form {
display: flex;
justify-content: center
}

.center{
background: #FFFFFF;
border: 1px solid #CCCDD0;
height: 668px;
}

.formElements {
display: flex;
flex-direction: column;
justify-content: center;
line-height: 41px;
padding: 25px;
width: 380px;
}

.formElements > form > button {
background: #0077C5;
border-bottom: 2px solid #3f6a84;
border-radius: 5px;
border: none;
color: white;
font-size: 16px;
height: 44px;
margin-top: 15px;
width: 100%;
}


.formHead{
text-align: center;
}
.formHead > p{
margin-bottom: -18px;
}


input {
border-radius: 4px;
border: 0.5px solid darkgray;
height: 34px;
padding: 0px 6px 0px 8px;
width: 360px;
}

.formElements > label {font-size: 14px;}

.formElements  > .formHead > div {font-size: 20px;}

.formElements > p {font-size: 14px;}

.formFooter {
color: grey;
font-size: 12px;
font-style: italic;
line-height: 17px;
margin-top: 50px;
text-align: center;
}

.bottom-text {
background: #ECEEF1;
color: grey;
font-size: 10px;
height: 42px;
line-height: 17px;

padding-top: 1px;
text-align: center;
border: 1px solid #CCCDD0;
width: 430px;
border-top: none;
}
/*Footer*/


footer {
align-items: center;
display: flex;
flex-direction: column;
font-size: 12px;
justify-content: center;
margin-bottom: 20px;
margin: 40px;
padding-bottom: 20px;
text-align: center;
}

footer > div > a {
font-size: 12px;
}
footer >  p {
width: 477px;
}


